/* SCSS Document */
/* Import Sass mixins, variables, Compass modules, etc. */
/*----- Custom Typefaces -----*/
@font-face {
  font-family: 'archiveregular';
  src: url("../fonts/archive-webfont.eot");
  src: url("../fonts/archive-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/archive-webfont.woff") format("woff"), url("../fonts/archive-webfont.ttf") format("truetype"), url("../fonts/archive-webfont.svg#archiveregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'denseregular';
  src: url("../fonts/dense-regular-webfont.eot");
  src: url("../fonts/dense-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dense-regular-webfont.woff") format("woff"), url("../fonts/dense-regular-webfont.ttf") format("truetype"), url("../fonts/dense-regular-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sciflysans';
  src: url("../fonts/scifly-sans-webfont.eot");
  src: url("../fonts/scifly-sans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scifly-sans-webfont.woff") format("woff"), url("../fonts/scifly-sans-webfont.ttf") format("truetype"), url("../fonts/scifly-sans-webfont.svg#sciflysans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sans_otlight';
  src: url("../fonts/firasansot-light-webfont.eot");
  src: url("../fonts/firasansot-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasansot-light-webfont.woff") format("woff"), url("../fonts/firasansot-light-webfont.ttf") format("truetype"), url("../fonts/firasansot-light-webfont.svg#fira_sans_otlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sans_otmedium';
  src: url("../fonts/firasansot-medium-webfont.eot");
  src: url("../fonts/firasansot-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasansot-medium-webfont.woff") format("woff"), url("../fonts/firasansot-medium-webfont.ttf") format("truetype"), url("../fonts/firasansot-medium-webfont.svg#fira_sans_otmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../sass/responsive.scss */
* {
  -webkit-font-smoothing: antialised;
}

/* line 12, ../sass/responsive.scss */
body {
  background-color: #E46350;
}

/* line 17, ../sass/responsive.scss */
.bubble {
  padding: 0;
  margin: 0 auto;
  min-height: 70px;
  position: relative;
}
/* line 23, ../sass/responsive.scss */
.bubble h3 {
  font-family: "archiveregular", sans-serif, sans-serif;
  margin: 0px;
  padding-top: 10px;
}
/* line 29, ../sass/responsive.scss */
.bubble .slides h3 {
  font-family: "denseregular", sans-serif, sans-serif;
  font-size: 35px;
  width: 76%;
  padding: 15px 12% 15px;
}
/* line 36, ../sass/responsive.scss */
.bubble .slides li:first-child h3 {
  font-size: 45px;
  text-align: center;
}

/* line 42, ../sass/responsive.scss */
#heroBubble {
  width: 70%;
  margin: 0 auto !important;
  padding: 0 2em 0 !important;
}

/* line 48, ../sass/responsive.scss */
#aboutBubble,
#workBubble,
#teamBubble,
#blogBubble,
#contactBubble {
  width: 60%;
  margin: 0 auto !important;
}

/* line 57, ../sass/responsive.scss */
#workBubble {
  margin-bottom: 0;
  border-radius: 15px;
}

/* line 62, ../sass/responsive.scss */
#webBubble {
  border: none;
  width: 32.8%;
  padding: 0;
  margin-top: 3px;
  border-radius: 0px 0px 0px 15px;
  -webkit-border-radius: 0px 0px 0px 15px;
  -moz-border-radius: 0px 0px 0px 15px;
}
/* line 73, ../sass/responsive.scss */
#webBubble a:link {
  color: #174A59;
  text-decoration: none;
}
/* line 78, ../sass/responsive.scss */
#webBubble a:visited {
  color: #174A59;
}
/* line 82, ../sass/responsive.scss */
#webBubble a:hover {
  color: #7DB6B0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 89, ../sass/responsive.scss */
#webBubble:hover {
  -webkit-box-shadow: inset 0px 0px 6px #323232;
  box-shadow: inset 0px 0px 6px #323232;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 96, ../sass/responsive.scss */
#webBubble:hover a:link {
  color: #7DB6B0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 105, ../sass/responsive.scss */
#audioBubble {
  cursor: pointer;
  display: inline-block;
  border: none;
  width: 32.8%;
  padding: 0;
  margin-top: 3px;
}
/* line 114, ../sass/responsive.scss */
#audioBubble a:link {
  color: #174A59;
  text-decoration: none;
}
/* line 119, ../sass/responsive.scss */
#audioBubble a:visited {
  color: #174A59;
}
/* line 123, ../sass/responsive.scss */
#audioBubble a:hover {
  color: #7DB6B0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 130, ../sass/responsive.scss */
#audioBubble:hover {
  -webkit-box-shadow: inset 0px 0px 6px #323232;
  box-shadow: inset 0px 0px 6px #323232;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 137, ../sass/responsive.scss */
#audioBubble:hover a:link {
  color: #7DB6B0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 146, ../sass/responsive.scss */
#videoBubble {
  cursor: pointer;
  display: inline-block;
  border: none;
  width: 32.95%;
  padding: 0;
  margin-top: 3px;
}
/* line 155, ../sass/responsive.scss */
#videoBubble a:link {
  color: #174A59;
  text-decoration: none;
}
/* line 160, ../sass/responsive.scss */
#videoBubble a:visited {
  color: #174A59;
}
/* line 164, ../sass/responsive.scss */
#videoBubble a:hover {
  color: #7DB6B0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 171, ../sass/responsive.scss */
#videoBubble:hover {
  -webkit-box-shadow: inset 0px 0px 6px #323232;
  box-shadow: inset 0px 0px 6px #323232;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 178, ../sass/responsive.scss */
#videoBubble:hover a:link {
  color: #7DB6B0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 187, ../sass/responsive.scss */
.workExamples {
  float: left;
  width: 40%;
  margin: 20px 40px;
  font-family: "denseregular", sans-serif;
  color: #FFF;
  font-size: 24px;
  line-height: 24px;
}
/* line 196, ../sass/responsive.scss */
.workExamples p {
  margin-left: 10px;
  text-align: center;
}

/* line 202, ../sass/responsive.scss */
.exampleBubble {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 209, ../sass/responsive.scss */
.exampleBubble img {
  width: 100%;
  height: auto;
  margin: 7px auto;
}

/* line 217, ../sass/responsive.scss */
#teamBubble h3 {
  color: #FDAD74;
}

/* line 222, ../sass/responsive.scss */
#hero {
  margin-top: 0px;
  padding-bottom: 100px;
  width: 104%;
  height: 100%;
  background-color: #7DB6B0;
}
/* line 229, ../sass/responsive.scss */
#hero img {
  display: block;
  margin: 2em auto;
  width: 90%;
}

/* line 236, ../sass/responsive.scss */
#about {
  height: 100%;
  padding: 130px 20px 20px;
  background-color: #E46350;
  margin: 1em auto;
}
/* line 242, ../sass/responsive.scss */
#about #workdisplay {
  width: 470px;
  position: relative;
  margin: 130px auto;
  clear: both;
}
/* line 249, ../sass/responsive.scss */
#about #aboutCircle {
  position: relative;
  display: block;
  padding: 35px;
  width: 400px;
  height: 400px;
  border: 7px solid #174A59;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background-color: #FFF;
  box-shadow: 3px 3px 7px #323232;
  -webkit-box-shadow: 3px 3px 7px #323232;
  -moz-box-shadow: 3px 3px 7px #323232;
}
/* line 265, ../sass/responsive.scss */
#about h2 {
  font-family: "denseregular", sans-serif;
  font-weight: bold;
  color: #E46350;
  font-size: 72px;
  margin: 55px 0px 20px 20px;
}
/* line 273, ../sass/responsive.scss */
#about p {
  margin-left: 20px;
  font-family: "denseregular", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #174A59;
}
/* line 281, ../sass/responsive.scss */
#about #jobs {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}
/* line 288, ../sass/responsive.scss */
#about .icons {
  width: 110px;
  height: 110px;
  background: url("../images/icons.png") no-repeat;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 298, ../sass/responsive.scss */
#about #jobs li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
/* line 306, ../sass/responsive.scss */
#about #jobs a {
  display: block;
}
/* line 310, ../sass/responsive.scss */
#about #audio {
  cursor: pointer;
  background-position: -7px -112px;
  position: absolute;
  left: -140px;
  top: 150px;
}
/* line 318, ../sass/responsive.scss */
#about #audio:hover {
  background-position: -7px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 324, ../sass/responsive.scss */
#about #video {
  cursor: pointer;
  background-position: -120px -112px;
  position: absolute;
  float: left;
  left: -40px;
  top: -40px;
  z-index: 999;
}
/* line 334, ../sass/responsive.scss */
#about #video:hover {
  background-position: -120px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 340, ../sass/responsive.scss */
#about #design {
  cursor: pointer;
  background-position: -233px -112px;
  position: absolute;
  float: none;
  top: -120px;
  right: 175px;
  z-index: 999;
}
/* line 350, ../sass/responsive.scss */
#about #design:hover {
  background-position: -233px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 356, ../sass/responsive.scss */
#about #development {
  cursor: pointer;
  background-position: -346px -112px;
  position: absolute;
  float: right;
  top: -40px;
  right: -40px;
}
/* line 365, ../sass/responsive.scss */
#about #development:hover {
  background-position: -346px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 371, ../sass/responsive.scss */
#about #marketing {
  cursor: pointer;
  background-position: -459px -112px;
  position: absolute;
  top: 150px;
  right: -140px;
  float: right;
  z-index: 99;
}
/* line 381, ../sass/responsive.scss */
#about #marketing:hover {
  background-position: -459px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 390, ../sass/responsive.scss */
#work {
  width: 100%;
  height: 100%;
  padding: 120px 20px 20px;
  background-color: #FDAD74;
}
/* line 396, ../sass/responsive.scss */
#work #nav {
  border-top: 1px solid #FDAD74;
  background: #FDAD74;
  display: block;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
}

/* line 407, ../sass/responsive.scss */
#team {
  width: 100%;
  height: 100%;
  padding: 120px 20px 20px;
  background-color: #894378;
}
/* line 413, ../sass/responsive.scss */
#team #photos {
  width: 86%;
  position: relative;
  margin: 30px auto 20px;
  max-width: 1200px;
  padding: 0;
}
/* line 424, ../sass/responsive.scss */
#team .teammate {
  width: 25%;
  height: auto;
  background-color: #894378;
  float: left;
  overflow: hidden;
}
/* line 431, ../sass/responsive.scss */
#team .teammate img {
  width: 100%;
}
/* line 435, ../sass/responsive.scss */
#team .teammate span {
  width: 25%;
  height: 80px;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: "archiveregular", sans-serif;
  color: #FFF;
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 457, ../sass/responsive.scss */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
/* line 466, ../sass/responsive.scss */
#overlay img {
  float: left;
  margin: 230px 0 0 90px;
}
/* line 471, ../sass/responsive.scss */
#overlay h3 {
  float: left;
  font-family: "archiveregular", sans-serif;
  color: #FFF;
  font-size: 72px;
  text-transform: uppercase;
  margin: 230px 0 0 30px;
}
/* line 480, ../sass/responsive.scss */
#overlay p {
  font-family: "denseregular", sans-serif;
  font-size: 36px;
  line-height: 54px;
  color: #FFF;
  margin: 290px 0 0 525px;
}

/* line 489, ../sass/responsive.scss */
#blog {
  height: 100%;
  padding: 120px 20px 20px;
  background-color: #7DB6B0;
}
/* line 494, ../sass/responsive.scss */
#blog h4 {
  font-family: "archiveregular", sans-serif;
  font-size: 36px;
  color: #174A59;
  margin: 7px 0px;
}
/* line 501, ../sass/responsive.scss */
#blog .blogArticle {
  font-family: "denseregular", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #7DB6B0;
}

/* line 509, ../sass/responsive.scss */
#contact {
  width: 100%;
  /*height: 525px;*/
  padding: 120px 20px 0px;
  background-color: #FDAD74;
}
/* line 515, ../sass/responsive.scss */
#contact #map_canvas {
  float: left;
  width: 50%;
  height: 400px;
  margin: 25px 0 0 0px;
}
/* line 522, ../sass/responsive.scss */
#contact form {
  float: left;
  width: 40%;
  height: 363px;
  margin: 25px 0 0 10px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
/* line 535, ../sass/responsive.scss */
#contact form fieldset input {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 95%;
  font-size: 30px;
  display: block;
  font-family: "denseregular", sans-serif;
  color: #174A59;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
  background-color: #DDD;
}
/* line 549, ../sass/responsive.scss */
#contact form fieldset input:focus {
  background-color: #EEE;
  outline: none;
}
/* line 555, ../sass/responsive.scss */
#contact form fieldset select {
  color: #174A59;
}
/* line 559, ../sass/responsive.scss */
#contact form fieldset textarea {
  color: #174A59;
  font-family: "denseregular", sans-serif;
  font-size: 30px;
  width: 95%;
  height: auto;
  background-color: #DDD;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  resize: none;
}
/* line 573, ../sass/responsive.scss */
#contact form fieldset textarea:focus {
  background-color: #FFF;
  outline: none;
}
/* line 579, ../sass/responsive.scss */
#contact form fieldset button {
  float: right;
  cursor: pointer;
  background-color: #174A59;
  font-family: "denseregular", sans-serif;
  color: #FFF;
  font-size: 30px;
  padding: 5px 30px;
  border: none;
}

/* line 593, ../sass/responsive.scss */
#footer {
  width: 100%;
  height: 100%;
  background-color: #E46350;
  font-family: "denseregular", sans-serif;
  color: #FFF;
  font-size: 30px;
}
/* line 601, ../sass/responsive.scss */
#footer p {
  display: inline-block;
  padding: 38px 20px;
}
/* line 606, ../sass/responsive.scss */
#footer img {
  float: right;
  margin: 30px;
}
/* line 611, ../sass/responsive.scss */
#footer a {
  color: #fff;
  text-decoration: none;
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 800px) {
  /* line 622, ../sass/responsive.scss */
  #navigation {
    border-bottom: 0;
  }
  /* line 625, ../sass/responsive.scss */
  #navigation ul {
    display: none;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: left;
  }
  /* line 635, ../sass/responsive.scss */
  #navigation ul li {
    background-color: #174A59;
    padding: 3px 0 3px 10px;
  }
  /* line 639, ../sass/responsive.scss */
  #navigation ul li:hover {
    background-color: #7DB6B0;
  }
  /* line 646, ../sass/responsive.scss */
  #navigation a {
    color: #FFF;
  }
  /* line 649, ../sass/responsive.scss */
  #navigation a:link {
    color: #FFF;
  }
  /* line 653, ../sass/responsive.scss */
  #navigation a:visited {
    color: #FFF;
  }
  /* line 661, ../sass/responsive.scss */
  #navigation a#pull {
    display: block;
    margin-right: 10px;
    float: right;
  }
  /* line 667, ../sass/responsive.scss */
  #navigation a#pull:after {
    content: "";
    background: url(../images/nav-icon.png) no-repeat center;
    background-color: #174A59;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 10px;
  }
  /* line 679, ../sass/responsive.scss */
  #navigation li {
    display: block;
    float: none;
    width: 140px;
  }
  /* line 685, ../sass/responsive.scss */
  #navigation li a {
    border-bottom: 1px;
  }

  /* line 694, ../sass/responsive.scss */
  .bubble h3 {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
  }
  /* line 700, ../sass/responsive.scss */
  .bubble .slides h3 {
    width: 86%;
    padding: 15px 0% 15px;
    text-align: left;
  }
  /* line 706, ../sass/responsive.scss */
  .bubble .slides li:first-child h3 {
    font-size: 55px;
    text-align: left;
  }

  /* line 712, ../sass/responsive.scss */
  #aboutBubble,
  #workBubble,
  #teamBubble,
  #contactBubble {
    width: 90%;
  }

  /* line 719, ../sass/responsive.scss */
  #footer {
    font-size: 22px;
  }
  /* line 722, ../sass/responsive.scss */
  #footer p {
    display: inline-block;
    padding: 38px 4px;
  }

  /* line 731, ../sass/responsive.scss */
  #team #photos {
    width: 80%;
  }
  /* line 735, ../sass/responsive.scss */
  #team #photos .teammate {
    width: 50%;
  }
  /* line 738, ../sass/responsive.scss */
  #team #photos .teammate span {
    width: 50%;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 480px) {
  /* line 755, ../sass/responsive.scss */
  #contact #map_canvas {
    display: none;
  }
  /* line 759, ../sass/responsive.scss */
  #contact form {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  /* line 767, ../sass/responsive.scss */
  #contact form fieldset input {
    padding: 1px 10px;
    width: 95%;
  }

  /* line 775, ../sass/responsive.scss */
  #about {
    height: 100%;
    padding: 120px 20px 20px;
    background-color: #E46350;
    margin: 0 auto;
  }
  /* line 782, ../sass/responsive.scss */
  #about #workdisplay {
    width: 100%;
    position: relative;
    margin: 130px auto;
    /*background-color:#0f0;*/
    clear: both;
  }
  /* line 790, ../sass/responsive.scss */
  #about #aboutCircle {
    display: block;
    padding: 15px;
    width: 80%;
    height: auto;
    border: 7px solid #174A59;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #FFF;
    box-shadow: 3px 3px 7px #323232;
    -webkit-box-shadow: 3px 3px 7px #323232;
    -moz-box-shadow: 3px 3px 7px #323232;
    position: relative;
    /*clear:right;*/
  }
  /* line 808, ../sass/responsive.scss */
  #about h2 {
    font-family: "denseregular", sans-serif;
    font-weight: bold;
    color: #E46350;
    font-size: 72px;
    margin: 15px 0px 20px 20px;
  }
  /* line 816, ../sass/responsive.scss */
  #about p {
    margin-left: 20px;
    font-family: "denseregular", sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #174A59;
  }
  /* line 824, ../sass/responsive.scss */
  #about #jobs {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    margin-top: -110px;
  }
  /* line 831, ../sass/responsive.scss */
  #about .icons {
    width: 110px;
    height: 110px;
    background: url("../images/icons.png") no-repeat;
    background-color: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  /* line 841, ../sass/responsive.scss */
  #about #jobs li {
    margin: 0;
    padding: 0;
    list-style: none;
    /*top: 0;*/
    display: inline-block;
    width: 31%;
    margin-left: -11%;
  }
  /* line 851, ../sass/responsive.scss */
  #about #audio {
    cursor: pointer;
    background-position: -7px -112px;
    position: relative;
    float: left;
    left: 0px;
    top: 0px;
    z-index: 999;
  }
  /* line 861, ../sass/responsive.scss */
  #about #video {
    cursor: pointer;
    background-position: -120px -112px;
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    z-index: 999;
  }
  /* line 871, ../sass/responsive.scss */
  #about #design {
    cursor: pointer;
    background-position: -233px -112px;
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    z-index: 999;
  }
  /* line 881, ../sass/responsive.scss */
  #about #development {
    cursor: pointer;
    background-position: -346px -112px;
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    z-index: 999;
  }
  /* line 892, ../sass/responsive.scss */
  #about #marketing {
    cursor: pointer;
    background-position: -459px -112px;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    z-index: 999;
  }

  /* line 911, ../sass/responsive.scss */
  #team .teammate span {
    height: 40px;
    margin-top: 120px;
    font-family: "archiveregular", sans-serif;
    color: #FFF;
    font-size: 14px;
    line-height: 1.2em;
  }

  /* line 925, ../sass/responsive.scss */
  #workBubble {
    margin-bottom: 0;
    border-radius: 15px;
  }

  /* line 930, ../sass/responsive.scss */
  #webBubble {
    border: none;
    width: 32.8%;
    padding: 0;
    margin-top: 3px;
    border-radius: 0px 0px 0px 15px;
    -webkit-border-radius: 0px 0px 0px 15px;
    -moz-border-radius: 0px 0px 0px 15px;
  }
  /* line 942, ../sass/responsive.scss */
  #webBubble a:link {
    color: #174A59;
    text-decoration: none;
  }
  /* line 947, ../sass/responsive.scss */
  #webBubble a:visited {
    color: #174A59;
  }
  /* line 951, ../sass/responsive.scss */
  #webBubble a:hover {
    color: #7DB6B0;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
  }
  /* line 959, ../sass/responsive.scss */
  #webBubble:hover {
    -webkit-box-shadow: inset 0px 0px 6px #323232;
    box-shadow: inset 0px 0px 6px #323232;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
  }
  /* line 966, ../sass/responsive.scss */
  #webBubble:hover a:link {
    color: #7DB6B0;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
  }

  /* line 975, ../sass/responsive.scss */
  #audioBubble {
    cursor: pointer;
    display: inline-block;
    border: none;
    width: 31%;
    padding: 0;
    margin-top: 3px;
  }
  /* line 986, ../sass/responsive.scss */
  #audioBubble a:link {
    color: #174A59;
    text-decoration: none;
  }
  /* line 991, ../sass/responsive.scss */
  #audioBubble a:visited {
    color: #174A59;
  }
  /* line 995, ../sass/responsive.scss */
  #audioBubble a:hover {
    color: #7DB6B0;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
  }
  /* line 1003, ../sass/responsive.scss */
  #audioBubble:hover {
    -webkit-box-shadow: inset 0px 0px 6px #323232;
    box-shadow: inset 0px 0px 6px #323232;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
  }
  /* line 1010, ../sass/responsive.scss */
  #audioBubble:hover a:link {
    color: #7DB6B0;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
  }

  /* line 1019, ../sass/responsive.scss */
  #videoBubble {
    cursor: pointer;
    display: inline-block;
    border: none;
    width: 32.95%;
    padding: 0;
    margin-top: 3px;
  }
  /* line 1029, ../sass/responsive.scss */
  #videoBubble a:link {
    color: #174A59;
    text-decoration: none;
  }
  /* line 1034, ../sass/responsive.scss */
  #videoBubble a:visited {
    color: #174A59;
  }
  /* line 1038, ../sass/responsive.scss */
  #videoBubble a:hover {
    color: #7DB6B0;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
  }
  /* line 1046, ../sass/responsive.scss */
  #videoBubble:hover {
    -webkit-box-shadow: inset 0px 0px 6px #323232;
    box-shadow: inset 0px 0px 6px #323232;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
  }
  /* line 1053, ../sass/responsive.scss */
  #videoBubble:hover a:link {
    color: #7DB6B0;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
  }

  /* line 1062, ../sass/responsive.scss */
  .workExamples {
    float: left;
    width: 80%;
    margin-left: 15px;
  }

  /* line 1069, ../sass/responsive.scss */
  .exampleBubble {
    min-height: 200px;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 335px) {
  /* Styles */
  /* line 1080, ../sass/responsive.scss */
  #navigation a#pull {
    margin-top: -60px;
  }

  /* line 1085, ../sass/responsive.scss */
  .bubble .slides h3 {
    text-align: left;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
  }
}
