@charset "UTF-8";
/* SCSS Document */
/* Import Sass mixins, variables, Compass modules, etc. */
/*----- Custom Typefaces -----*/
@font-face {
  font-family: 'archiveregular';
  src: url("../fonts/archive-webfont.eot");
  src: url("../fonts/archive-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/archive-webfont.woff") format("woff"), url("../fonts/archive-webfont.ttf") format("truetype"), url("../fonts/archive-webfont.svg#archiveregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'denseregular';
  src: url("../fonts/dense-regular-webfont.eot");
  src: url("../fonts/dense-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dense-regular-webfont.woff") format("woff"), url("../fonts/dense-regular-webfont.ttf") format("truetype"), url("../fonts/dense-regular-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sciflysans';
  src: url("../fonts/scifly-sans-webfont.eot");
  src: url("../fonts/scifly-sans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scifly-sans-webfont.woff") format("woff"), url("../fonts/scifly-sans-webfont.ttf") format("truetype"), url("../fonts/scifly-sans-webfont.svg#sciflysans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans_otlight';
  src: url("../fonts/firasansot-light-webfont.eot");
  src: url("../fonts/firasansot-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasansot-light-webfont.woff") format("woff"), url("../fonts/firasansot-light-webfont.ttf") format("truetype"), url("../fonts/firasansot-light-webfont.svg#fira_sans_otlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans_otmedium';
  src: url("../fonts/firasansot-medium-webfont.eot");
  src: url("../fonts/firasansot-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasansot-medium-webfont.woff") format("woff"), url("../fonts/firasansot-medium-webfont.ttf") format("truetype"), url("../fonts/firasansot-medium-webfont.svg#fira_sans_otmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*----- Custom Typefaces -----*/
@font-face {
  font-family: Archive;
  src: url("../fonts/Archive.otf");
}

@font-face {
  font-family: Dense-Regular;
  src: url("../fonts/Dense-Regular.otf");
}

@font-face {
  font-family: SciFly-Sans;
  src: url("../fonts/SciFly-Sans.ttf");
}

/* line 24, ../sass/styles.scss */
* {
  -webkit-font-smoothing: antialised;
}

/* line 28, ../sass/styles.scss */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 38, ../sass/styles.scss */
#navigation {
  height: 75px;
  width: 100%;
  padding: 10px;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 3px 5px #323232;
  -webkit-box-shadow: 0px 3px 5px #323232;
  -moz-box-shadow: 0px 3px 5px #323232;
  z-index: 1000;
}
/* line 52, ../sass/styles.scss */
#navigation img {
  float: left;
  margin-right: 50px;
  width: 200px;
  height: 66px;
}
/* line 58, ../sass/styles.scss */
#navigation ul {
  width: auto;
  float: right;
  padding: 0;
  margin-top: 30px;
}
/* line 64, ../sass/styles.scss */
#navigation li {
  display: inline-block;
  float: right;
}
/* line 69, ../sass/styles.scss */
#navigation li:last-child a {
  border-right: 0;
}
/* line 73, ../sass/styles.scss */
#navigation a {
  text-align: right;
}
/* line 77, ../sass/styles.scss */
#navigation a:link {
  font-family: "denseregular", sans-serif;
  font-size: 24px;
  color: #174a59;
  padding-right: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 86, ../sass/styles.scss */
#navigation a:visited {
  color: #174a59;
}
/* line 90, ../sass/styles.scss */
#navigation a:hover {
  color: #7db6b0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 96, ../sass/styles.scss */
#navigation a:active {
  text-decoration: none;
}
/* line 100, ../sass/styles.scss */
#navigation a[id="work"] {
  visibility: hidden;
}
/* line 105, ../sass/styles.scss */
#navigation a#pull {
  display: none;
}

/* line 110, ../sass/styles.scss */
ul.content li {
  display: block;
  height: 100%;
  width: 100%;
}

/* line 116, ../sass/styles.scss */
ul.content {
  top: 0;
  margin-top: 97px;
}

/* line 121, ../sass/styles.scss */
a[id="hero"], a[id="about"], a[id="work"], a[id="team"], a[id="blog"], a[id="contact"] {
  visibility: hidden;
  padding: 0 !important;
}

/* line 126, ../sass/styles.scss */
.bubble {
  padding: 20px 50px;
  margin: auto;
  background-color: #FFF;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
/* line 134, ../sass/styles.scss */
.bubble h3 {
  font-family: "archiveregular", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #174a59;
  margin: 7px 0px;
}

/* line 143, ../sass/styles.scss */
.speechBubble.top:before {
  margin: -20px 20px;
  bottom: auto;
  left: auto;
  border-width: 0 20px 20px;
}

/* line 150, ../sass/styles.scss */
.speechBubble:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #FFF transparent;
  display: block;
  width: 0;
}

/* line 161, ../sass/styles.scss */
#work .speechBubble.top:before {
  margin: -40px 20px;
}

/* line 165, ../sass/styles.scss */
#heroBubble {
  width: 600px;
  margin-left: 220px;
  padding: 0 !important;
}

/* line 171, ../sass/styles.scss */
.flex-control-nav {
  position: initial;
}
/* line 174, ../sass/styles.scss */
.flex-control-nav li {
  display: inline-block !important;
  width: auto !important;
}

/* line 180, ../sass/styles.scss */
#aboutBubble {
  /*float: left;*/
  /*margin-left: 20px;*/
  width: 500px;
}

/* line 186, ../sass/styles.scss */
#workBubble {
  width: 85%;
  padding: 20px 0px 0px !important;
  margin-bottom: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

/* line 195, ../sass/styles.scss */
#webBubble {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #fdad74;
  width: 270px;
  padding: 10px 50px;
  border-radius: 0px 0px 0px 15px;
  -webkit-border-radius: 0px 0px 0px 15px;
  -moz-border-radius: 0px 0px 0px 15px;
}
/* line 207, ../sass/styles.scss */
#webBubble a:link {
  color: #174a59;
  text-decoration: none;
}
/* line 212, ../sass/styles.scss */
#webBubble a:visited {
  color: #174a59;
}
/* line 216, ../sass/styles.scss */
#webBubble a:hover {
  color: #7db6b0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 224, ../sass/styles.scss */
#webBubble:hover {
  box-shadow: inset 0px 0px 6px #323232;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 230, ../sass/styles.scss */
#webBubble:hover a:link {
  color: #7db6b0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 239, ../sass/styles.scss */
#audioBubble {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #fdad74;
  width: 278px;
  padding: 10px 50px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
/* line 251, ../sass/styles.scss */
#audioBubble a:link {
  color: #174a59;
  text-decoration: none;
}
/* line 256, ../sass/styles.scss */
#audioBubble a:visited {
  color: #174a59;
}
/* line 260, ../sass/styles.scss */
#audioBubble a:hover {
  color: #7db6b0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 268, ../sass/styles.scss */
#audioBubble:hover {
  box-shadow: inset 0px 0px 6px #323232;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 274, ../sass/styles.scss */
#audioBubble:hover a:link {
  color: #7db6b0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 283, ../sass/styles.scss */
#videoBubble {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #fdad74;
  width: 270px;
  padding: 10px 50px;
  border-radius: 0px 0px 15px 0px;
  -webkit-border-radius: 0px 0px 15px 0px;
  -moz-border-radius: 0px 0px 15px 0px;
}
/* line 295, ../sass/styles.scss */
#videoBubble a:link {
  color: #174a59;
  text-decoration: none;
}
/* line 300, ../sass/styles.scss */
#videoBubble a:visited {
  color: #174a59;
}
/* line 304, ../sass/styles.scss */
#videoBubble a:hover {
  color: #7db6b0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 312, ../sass/styles.scss */
#videoBubble:hover {
  box-shadow: inset 0px 0px 6px #323232;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 318, ../sass/styles.scss */
#videoBubble:hover a:link {
  color: #7db6b0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 327, ../sass/styles.scss */
.workExamples {
  float: left;
  width: 21%;
  margin: 20px;
  font-family: "denseregular", sans-serif;
  color: #FFF;
  font-size: 24px;
  line-height: 24px;
}
/* line 336, ../sass/styles.scss */
.workExamples p {
  margin-left: 10px;
}

/* line 341, ../sass/styles.scss */
.exampleBubble {
  width: 150px;
  height: 110px;
  margin-bottom: 10px;
}
/* line 346, ../sass/styles.scss */
.exampleBubble img {
  width: 150px;
  height: auto;
}

/* line 352, ../sass/styles.scss */
#teamBubble {
  width: 600px;
  margin-left: 20px;
}
/* line 356, ../sass/styles.scss */
#teamBubble h3 {
  color: #fdad74;
}

/* line 361, ../sass/styles.scss */
#blogBubble {
  width: 600px;
  margin-left: 20px;
}

/* line 366, ../sass/styles.scss */
#contactBubble {
  width: 600px;
  margin-left: 20px;
}

/* line 371, ../sass/styles.scss */
#hero {
  margin-top: 80px;
  padding: 80px 0px 20px;
  width: 100%;
  height: 700px;
  background-color: #7db6b0;
}
/* line 378, ../sass/styles.scss */
#hero img {
  display: block;
  margin: 10px auto;
}

/* line 384, ../sass/styles.scss */
#about {
  height: 100%;
  padding: 120px 20px 20px;
  background-color: #e46350;
  margin: 0 auto;
}
/* line 391, ../sass/styles.scss */
#about #workdisplay {
  width: 470px;
  position: relative;
  margin: 130px auto;
  /*background-color:#0f0;*/
  clear: both;
}
/* line 399, ../sass/styles.scss */
#about #aboutCircle {
  display: block;
  padding: 35px;
  width: 400px;
  height: 400px;
  border: 7px solid #174a59;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background-color: #FFF;
  box-shadow: 3px 3px 7px #323232;
  -webkit-box-shadow: 3px 3px 7px #323232;
  -moz-box-shadow: 3px 3px 7px #323232;
  position: relative;
  /*clear:right;*/
}
/* line 417, ../sass/styles.scss */
#about h2 {
  font-family: "denseregular", sans-serif;
  font-weight: bold;
  color: #e46350;
  font-size: 72px;
  margin: 55px 0px 20px 20px;
}
/* line 425, ../sass/styles.scss */
#about p {
  margin-left: 20px;
  font-family: "denseregular", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #174a59;
}
/* line 433, ../sass/styles.scss */
#about #jobs {
  position: absolute;
  /*margin-top: 475px;
  margin-bottom: -230px;
  margin-left: 557px;*/
  margin: 0 auto;
  /*margin-left:500px;*/
  width: 100%;
}
/* line 444, ../sass/styles.scss */
#about .icons {
  width: 110px;
  height: 110px;
  background: url("../images/icons.png") no-repeat;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
/* line 454, ../sass/styles.scss */
#about #jobs li {
  margin: 0;
  padding: 0;
  list-style: none;
  /*top: 0;*/
  display: inline-block;
  margin: 2%;
}
/* line 464, ../sass/styles.scss */
#about #jobs a {
  /*height: 113px;*/
  display: block;
}
/* line 470, ../sass/styles.scss */
#about #audio {
  cursor: pointer;
  background-position: -7px -112px;
  position: absolute;
  left: -140px;
  top: 150px;
}
/* line 477, ../sass/styles.scss */
#about #audio:hover {
  background-position: -7px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 483, ../sass/styles.scss */
#about #video {
  cursor: pointer;
  background-position: -120px -112px;
  position: absolute;
  float: left;
  left: -40px;
  top: -40px;
  z-index: 999;
}
/* line 492, ../sass/styles.scss */
#about #video:hover {
  background-position: -120px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 498, ../sass/styles.scss */
#about #design {
  cursor: pointer;
  background-position: -233px -112px;
  position: absolute;
  float: none;
  top: -120px;
  right: 160px;
  z-index: 999;
}
/* line 508, ../sass/styles.scss */
#about #design:hover {
  background-position: -233px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 514, ../sass/styles.scss */
#about #development {
  cursor: pointer;
  background-position: -346px -112px;
  position: absolute;
  float: right;
  top: -40px;
  right: -40px;
}
/* line 523, ../sass/styles.scss */
#about #development:hover {
  background-position: -346px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 529, ../sass/styles.scss */
#about #marketing {
  cursor: pointer;
  background-position: -459px -112px;
  position: absolute;
  top: 150px;
  right: -140px;
  float: right;
  z-index: 99;
}
/* line 539, ../sass/styles.scss */
#about #marketing:hover {
  background-position: -459px 1px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 548, ../sass/styles.scss */
#work {
  width: 100%;
  height: 100%;
  padding: 120px 20px 20px;
  background-color: #fdad74;
}
/* line 554, ../sass/styles.scss */
#work img {
  display: none;
}
/* line 558, ../sass/styles.scss */
#work #nav {
  border-top: 1px solid #fdad74;
  background: #fdad74;
  display: block;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
}
/* line 568, ../sass/styles.scss */
#work #backflipStudios .exampleBubble {
  background: url(../images/backflipStudios.png) no-repeat top center;
}
/* line 571, ../sass/styles.scss */
#work #theBluePepperGrill .exampleBubble {
  background: url(../images/theBluePepperGrill.png) no-repeat top center;
}
/* line 574, ../sass/styles.scss */
#work #peacefulPlay .exampleBubble {
  background: url(../images/peacefulPlay.png) no-repeat top center;
}
/* line 577, ../sass/styles.scss */
#work #mercuryInsurance .exampleBubble {
  background: url(../images/mercuryInsurance.png) no-repeat top left;
}

/* line 584, ../sass/styles.scss */
#team {
  height: 700px;
  padding: 120px 20px 20px;
  background-color: #894378;
}
/* line 589, ../sass/styles.scss */
#team #photos {
  position: relative;
  display: block;
  margin: auto;
  max-width: 1215px;
  padding: 20px;
}
/* line 597, ../sass/styles.scss */
#team img {
  width: 300px;
  height: auto;
  background-color: #fdad74;
}
/* line 603, ../sass/styles.scss */
#team span {
  position: absolute;
  margin-top: 200px;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 300px;
  height: 80px;
  font-family: "archiveregular", sans-serif;
  color: #FFF;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 624, ../sass/styles.scss */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
/* line 633, ../sass/styles.scss */
#overlay img {
  float: left;
  margin: 230px 0 0 90px;
}
/* line 638, ../sass/styles.scss */
#overlay h3 {
  float: left;
  font-family: "archiveregular", sans-serif;
  color: #FFF;
  font-size: 72px;
  text-transform: uppercase;
  margin: 230px 0 0 30px;
}
/* line 647, ../sass/styles.scss */
#overlay p {
  font-family: "denseregular", sans-serif;
  font-size: 36px;
  line-height: 54px;
  color: #FFF;
  margin: 290px 0 0 525px;
}

/* line 656, ../sass/styles.scss */
#blog {
  height: 100%;
  padding: 120px 20px 20px;
  background-color: #7db6b0;
}
/* line 661, ../sass/styles.scss */
#blog h4 {
  font-family: "archiveregular", sans-serif;
  font-size: 36px;
  color: #174a59;
  margin: 7px 0px;
}
/* line 668, ../sass/styles.scss */
#blog .blogArticle {
  font-family: "denseregular", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #7db6b0;
}

/* line 676, ../sass/styles.scss */
#contact {
  height: 525px;
  padding: 120px 20px 20px;
  background-color: #fdad74;
}
/* line 681, ../sass/styles.scss */
#contact #map_canvas {
  float: left;
  width: 500px;
  height: 400px;
  margin: 25px 0 0 100px;
}
/* line 688, ../sass/styles.scss */
#contact form {
  float: left;
  width: 500px;
  height: 363px;
  margin: 25px 0 0 10px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
/* line 701, ../sass/styles.scss */
#contact form fieldset input {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 95%;
  font-size: 30px;
  display: block;
  font-family: "denseregular", sans-serif;
  color: #174a59;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
  background-color: #DDD;
}
/* line 715, ../sass/styles.scss */
#contact form fieldset input:focus {
  background-color: #EEE;
  outline: none;
}
/* line 721, ../sass/styles.scss */
#contact form fieldset select {
  color: #174a59;
}
/* line 725, ../sass/styles.scss */
#contact form fieldset textarea {
  color: #174a59;
  font-family: "denseregular", sans-serif;
  font-size: 30px;
  width: 95%;
  background-color: #DDD;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  resize: none;
}
/* line 738, ../sass/styles.scss */
#contact form fieldset textarea:focus {
  background-color: #FFF;
  outline: none;
}
/* line 744, ../sass/styles.scss */
#contact form fieldset button {
  float: right;
  cursor: pointer;
  background-color: #174a59;
  font-family: "denseregular", sans-serif;
  color: #FFF;
  font-size: 30px;
  padding: 5px 30px;
  border: none;
}

/* line 758, ../sass/styles.scss */
#footer {
  width: 100%;
  height: 100px;
  background-color: #e46350;
  font-family: "denseregular", sans-serif;
  color: #FFF;
  font-size: 30px;
}
/* line 766, ../sass/styles.scss */
#footer p {
  display: inline-block;
  padding: 38px 20px;
  font-weight: bold;
}
/* line 772, ../sass/styles.scss */
#footer img {
  float: right;
  margin: 30px;
}

/**extra**/
/* line 780, ../sass/styles.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 789, ../sass/styles.scss */
.clearfix {
  display: inline-block;
}

/* line 793, ../sass/styles.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 797, ../sass/styles.scss */
* html .clearfix {
  height: 1%;
}
