@charset "UTF-8";
/* SCSS Document */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/*----- Custom Typefaces -----*/

@font-face {
    font-family: Archive;
    src: url('../fonts/Archive.otf');
}

@font-face {
    font-family: Dense-Regular;
    src: url('../fonts/Dense-Regular.otf');
}

@font-face {
    font-family: SciFly-Sans;
    src: url('../fonts/SciFly-Sans.ttf');
}

* {
    -webkit-font-smoothing: antialised;
}

body {
    width: 100%;
    height: 100%;
}

#navigation {
    height: 75px;
    width: 100%;
    padding: 10px;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 5px $grey;
    -webkit-box-shadow: 0px 3px 5px $grey;
    -moz-box-shadow: 0px 3px 5px $grey;
    z-index: 1000;

    img {
        float: left;
        margin-right: 50px;
        width: 200px;
        height: 66px;
    }

    ul {
        width: auto;
        float: right;
        padding: 0;
        margin-top: 30px;
    }

    li {
        display: inline-block;
    }

    li:last-child a {
        border-right: 0;
    }

    a {
        text-align: right;

        &:link {
            font-family: $dense;
            font-size: 24px;
            color: $darkblue;
            padding-right: 35px;
            text-decoration: none;
            text-transform: uppercase;
        }

        &:visited {
            color: $darkblue;
        }

        &:hover {
            color: $teal;
            transition: 0.3s ease-in-out;
            -webkit-transition: 0.3s ease-in-out;
        }

        &:active {
            text-decoration: none;
        }

        &#work {
            visibility: hidden;
        }

    }

    a#pull {
        display: none;
    }
}

#wrapper {
    overflow-x: hidden;
}

ul.content li {
    display: block;
    width: 100%;
    height: 100%;
}

ul.content {
    top: 0;
    margin-top: 95px;
}

a#hero,
a#about,
a#work,
a#team,
a#blog,
a#contact {
    visibility: hidden;
    padding: 0 !important;
}

.bubble {
    padding: 20px 50px;
    margin: auto;
    background-color: #FFF;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    h3 {
        font-family: $archive;
        font-size: 36px;
        text-align: center;
        color: $darkblue;
        margin: 7px 0px;
    }
}

.speechBubble.top::before {
    margin: -20px 20px;
    bottom: auto;
    left: auto;
    border-width: 0 20px 20px;
}

.speechBubble::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #FFF transparent;
    display: block;
    width: 0;
}

#work .speechBubble.top::before {
    margin: -40px 20px;
}

#heroBubble {
    width: 70%;
    margin: 0 auto;
    padding: 0 2em;

    .flex-control-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        li {
            width: auto;
        }
    }
}

#aboutBubble,
#workBubble,
#teamBubble,
#blogBubble,
#contactBubble {
    width: 60%;
    margin: 0 auto;
}

#workBubble {
    width: 85%;
    padding: 20px 0px 0px;
    margin-bottom: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#webBubble,
#audioBubble,
#videoBubble {
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px 2px;
    padding: 10px 50px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;

    a :link,
    a:visited {
        color: $darkblue;
        text-decoration: none;
    }

    h3 {
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
    }

    &:hover {
        -webkit-box-shadow: inset 0px 0px 6px $grey;
        box-shadow: inset 0px 0px 6px $grey;

        h3 {
            color: $teal;
        }
    }
}

#examplesWrapper {
    width: 85%;
    margin: auto;

    .workExamples {
        float: left;
        width: 21%;
        margin: 20px;
        font-family: $dense;
        color: #FFF;
        font-size: 24px;
        line-height: 24px;

        p {
            margin-left: 10px;
        }
    }

    .exampleBubble {
        width: 150px;
        height: 110px;
        margin-bottom: 10px;
        cursor: pointer;
        opacity: 1;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;

        &:hover {
            opacity: 0.5;
        }

        img {
            width: 150px;
            height: auto;
        }
    }
}

#teamBubble h3 {
    color: $peach;
}

#blogBubble {
    width: 600px;
    margin-left: 20px;
}

#hero {
    margin-top: 0;
    padding-bottom: 100px;
    width: 100%;
    height: 700px;
    background-color: $teal;

    img {
        display: block;
        margin: 2em auto;
        width: 90%;
    }
}

#about {
    height: 100%;
    padding: 130px 20px 20px;
    background-color: $red;
    margin: auto;

    #workdisplay {
        width: 470px;
        position: relative;
        margin: 200px auto;
        clear: both;
    }

    #aboutCircle {
        position: relative;
        display: block;
        padding: 35px;
        width: 400px;
        height: 400px;
        border: 7px solid $darkblue;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        background-color: #FFF;
        box-shadow: 3px 3px 7px $grey;
        -webkit-box-shadow: 3px 3px 7px $grey;
        -moz-box-shadow: 3px 3px 7px $grey;
    }

    h2 {
        font-family: $dense;
        font-weight: bold;
        color: $red;
        font-size: 72px;
        margin: 55px 0px 20px 20px;
    }

    p {
        margin-left: 20px;
        font-family: $dense;
        font-size: 30px;
        font-weight: normal;
        color: $darkblue;
    }

    #jobs {
        position: absolute;
        margin: 0 auto;
        width: 100%;

    }

    .icons {
        width: 110px;
        height: 110px;
        background: url('../images/icons.png') no-repeat;
        background-color: #ffffff;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
    }

    #jobs li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;

    }

    #jobs a {
        display: block;
    }

    #audio {
        cursor: pointer;
        background-position: -7px -112px;
        position: absolute;
        left: -140px;
        top: 150px;
    }

    #audio:hover {
        background-position: -7px 1px;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
    }

    #video {
        cursor: pointer;
        background-position: -120px -112px;
        position: absolute;
        float: left;
        left: -40px;
        top: -40px;
        z-index: 999;
    }

    #video:hover {
        background-position: -120px 1px;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
    }

    #design {
        cursor: pointer;
        background-position: -233px -112px;
        position: absolute;
        float: none;
        top: -120px;
        right: 175px;
        z-index: 999;
    }

    #design:hover {
        background-position: -233px 1px;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
    }

    #development {
        cursor: pointer;
        background-position: -346px -112px;
        position: absolute;
        float: right;
        top: -40px;
        right: -40px;
    }

    #development:hover {
        background-position: -346px 1px;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
    }

    #marketing {
        cursor: pointer;
        background-position: -459px -112px;
        position: absolute;
        top: 150px;
        right: -140px;
        float: right;
        z-index: 99;
    }

    #marketing:hover {
        background-position: -459px 1px;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
    }
}

#work {
    width: 100%;
    height: 100%;
    padding: 120px 20px;
    background-color: $peach;

    img {
        display: none;
    }

    #nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        border-top: 1px solid $peach;
        background: $peach;
        margin: auto;
        border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
    }

    #backflipStudios .exampleBubble {
        background: url('../images/backflipStudios.png') no-repeat top center;
    }

    #theBluePepperGrill .exampleBubble {
        background: url('../images/theBluePepperGrill.png') no-repeat top center;
    }

    #peacefulPlay .exampleBubble {
        background: url('../images/peacefulPlay.png') no-repeat top center;
    }

    #mercuryInsurance .exampleBubble {
        background: url('../images/mercuryInsurance.png') no-repeat top left;
    }
}

#team {
    width: 100%;
    height: 100%;
    padding: 120px 20px 20px;
    background-color: $purple;

    #photos {
        position: relative;
        display: block;
        margin: 30px auto 20px;
        width: 86%;
        max-width: 1200px;
        padding: 0;
		
		.teammate {
		    position: relative;
		    width: 25%;
		    height: auto;
		    background-color: $purple;
		    float: left;
		    overflow: hidden;

		    img {
				width: 100%;
				opacity: 1;
				transition: 0.3s ease-in-out;
				-webkit-transition: 0.3s ease-in-out;

				&:hover {
					opacity: 0.5;
					cursor: pointer;
				}
		    }

		    span {
		        position: absolute;
		        bottom: 0;
		        height: 80px;
		        background-color: rgba(0, 0, 0, 0.6);
		        font-family: $archive;
		        color: #FFF;
		        font-size: 18px;
		        line-height: 1.5em;
		        text-align: center;
		        z-index: 10;
		        opacity: 0;
		        -webkit-transition: all 0.5s ease;
		        transition: all 0.5s ease;
		    }
		}
    }
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;

    h3 {
        margin-bottom: 0.5em;
        font-family: $archive;
        color: #FFF;
        font-size: 72px;
        text-transform: uppercase;
    }

    .details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        img {
            margin-right: 20px;
        }

        p {
            font-family: $dense;
            font-size: 36px;
            line-height: 54px;
            color: #FFF;
        }
    }

    .profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        img {
            margin-right: 20px;
        }

        p {
            font-family: $dense;
            font-size: 36px;
            line-height: 54px;
            color: #FFF;
        }
    }
}

#blog {
    height: 100%;
    padding: 120px 20px 20px;
    background-color: $teal;

    h4 {
        font-family: $archive;
        font-size: 36px;
        color: $darkblue;
        margin: 7px 0px;
    }

    .blogArticle {
        font-family: $dense;
        font-size: 24px;
        line-height: 36px;
        color: $teal;
    }
}

#contact {
    width: 100%;
    padding: 120px 20px;
    background-color: $peach;

    #map_canvas {
        float: left;
        width: 50%;
        height: 400px;
        margin: 25px 0 0 0px;
    }

    form {
        float: left;
        width: 40%;
        margin: 25px 0 0 10px;
        padding: 20px;
        background-color: #FFF;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;

        fieldset input {
            margin-bottom: 10px;
            padding: 5px 10px;
            width: 95%;
            font-size: 30px;
            display: block;
            font-family: $dense;
            color: $darkblue;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border: none;
            background-color: #DDD;

            &:focus {
                background-color: #EEE;
                outline: none;
            }
        }

        select {
            color: $darkblue;
        }

        textarea {
            color: $darkblue;
            font-family: $dense;
            font-size: 30px;
            width: 95%;
            height: auto;
            background-color: #DDD;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            resize: none;

            &:focus {
                background-color: #FFF;
                outline: none;
            }
        }

        button {
            float: right;
            margin: 20px 0;
            padding: 5px 30px;
            cursor: pointer;
            background-color: $darkblue;
            font-family: $dense;
            color: #FFF;
            font-size: 30px;
            border: none;
        }
    }
}

#footer {
    width: 100%;
    height: 100%;
    background-color: $red;
    font-family: $dense;
    color: #FFF;
    font-size: 30px;

    p {
        display: inline-block;
        padding: 38px 20px;
    }

    img {
        float: right;
        margin: 30px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}

/**extra**/
.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 800px) {

    #navigation {
        border-bottom: 0;

        ul {
            display: none;
            height: 25px;
            position: absolute;
            top: 10px;
            right: 30px;
            text-align: left;
        }

        ul li {
            background-color: $darkblue;
            padding: 3px 0 3px 10px;

            &:hover {
                background-color: $teal;
            }
        }

        a {
            color: #FFF;

            &:link {
                color: #FFF;
            }

            &:visited {
                color: #FFF;
            }
        }

        a#pull {
            display: block;
            margin-right: 10px;
            float: right;
        }

        a#pull:after {
            content: "";
            background: url('../images/nav-icon.png') no-repeat center;
            background-color: $darkblue;
            width: 30px;
            height: 30px;
            display: inline-block;
            position: absolute;
            right: 30px;
            top: 10px;
        }

        li {
            display: block;
            float: none;
            width: 140px;
        }

        li a {
            border-bottom: 1px;
        }
    }

    .bubble {
        h3 {
            font-size: 24px;
            width: 80%;
            margin: 0 auto;
        }

        .slides h3 {
            width: 86%;
            padding: 15px 0% 15px;
            text-align: left;
        }

        .slides li:first-child h3 {
            font-size: 55px;
            text-align: left;
        }
    }

    #aboutBubble,
    #workBubble,
    #teamBubble,
    #contactBubble {
        width: 90%;
    }

    #footer {
        font-size: 22px;

        p {
            display: inline-block;
            padding: 38px 4px;
        }
    }

    #team {
        #photos {
            width: 80%;

            .teammate {
                width: 50%;

                span {
                    width: 50%;
                }

            }
        }

    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 480px) {
    #contact {
        #map_canvas {
            display: none;
        }

        form {
            width: 80%;
            margin: 0 auto;
            float: none;

            fieldset input {
                padding: 1px 10px;
                width: 95%;
            }
        }
    }

    #about {
        height: 100%;
        padding: 120px 20px 20px;
        background-color: $red;
        margin: 0 auto;

        #workdisplay {
            width: 100%;
            position: relative;
            margin: 130px auto;
            clear: both;
        }

        #aboutCircle {
            position: relative;
            display: block;
            padding: 15px;
            width: 80%;
            height: auto;
            border: 7px solid $darkblue;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            background-color: #FFF;
            box-shadow: 3px 3px 7px $grey;
            -webkit-box-shadow: 3px 3px 7px $grey;
            -moz-box-shadow: 3px 3px 7px $grey;
        }

        h2 {
            font-family: $dense;
            font-weight: bold;
            color: $red;
            font-size: 72px;
            margin: 15px 0px 20px 20px;
        }

        p {
            margin-left: 20px;
            font-family: $dense;
            font-size: 30px;
            font-weight: normal;
            color: $darkblue;
        }

        #jobs {
            position: absolute;
            margin: 0 auto;
            width: 100%;
            margin-top: -110px;
        }

        .icons {
            width: 110px;
            height: 110px;
            background: url('../images/icons.png') no-repeat;
            background-color: none;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
        }

        #jobs li {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-block;
            width: 31%;
            margin-left: -11%;
        }

        #audio {
            cursor: pointer;
            background-position: -7px -112px;
            position: relative;
            float: left;
            left: 0px;
            top: 0px;
            z-index: 999;
        }

        #video {
            cursor: pointer;
            background-position: -120px -112px;
            position: relative;
            float: left;
            top: 0px;
            left: 0px;
            z-index: 999;
        }

        #design {
            cursor: pointer;
            background-position: -233px -112px;
            position: relative;
            float: left;
            top: 0px;
            left: 0px;
            z-index: 999;
        }

        #development {
            cursor: pointer;
            background-position: -346px -112px;
            position: relative;
            float: left;
            top: 0px;
            left: 0px;
            z-index: 999;
        }

        #marketing {
            cursor: pointer;
            background-position: -459px -112px;
            position: relative;
            top: 0px;
            left: 0px;
            float: left;
            z-index: 999;
        }
    }

    #team {
        .teammate {
            span {
                height: 40px;
                margin-top: 120px;
                font-family: $archive;
                color: #FFF;
                font-size: 14px;
                line-height: 1.2em;
            }
        }

    }

    #workBubble {
        margin-bottom: 0;
        border-radius: 15px;
    }

    #webBubble {
        border: none;
        padding: 0;
        margin-top: 3px;
        border-radius: 0px 0px 0px 15px;
        -webkit-border-radius: 0px 0px 0px 15px;
        -moz-border-radius: 0px 0px 0px 15px;

        a {

            &:link {
                color: $darkblue;
                text-decoration: none;
            }

            &:visited {
                color: $darkblue;
            }

            &:hover {
                color: $teal;
                transition: 0.3s ease-in-out;
                -webkit-transition: 0.3s ease-in-out;
            }

        }

        &:hover {
            -webkit-box-shadow: inset 0px 0px 6px $grey;
            box-shadow: inset 0px 0px 6px $grey;
            transition: 0.2s ease-in-out;
            -webkit-transition: 0.2s ease-in-out;

            a {
                &:link {
                    color: $teal;
                    transition: 0.2s ease-in-out;
                    -webkit-transition: 0.2s ease-in-out;
                }
            }
        }
    }

    #audioBubble {
        cursor: pointer;
        display: inline-block;
        border: none;
        padding: 0;
        margin-top: 3px;

        a {
            &:link {
                color: $darkblue;
                text-decoration: none;
            }

            &:visited {
                color: $darkblue;
            }

            &:hover {
                color: $teal;
                transition: 0.3s ease-in-out;
                -webkit-transition: 0.3s ease-in-out;
            }

        }

        &:hover {
            -webkit-box-shadow: inset 0px 0px 6px $grey;
            box-shadow: inset 0px 0px 6px $grey;
            transition: 0.2s ease-in-out;
            -webkit-transition: 0.2s ease-in-out;

            a {
                &:link {
                    color: $teal;
                    transition: 0.2s ease-in-out;
                    -webkit-transition: 0.2s ease-in-out;
                }
            }
        }
    }

    #videoBubble {
        cursor: pointer;
        display: inline-block;
        border: none;
        padding: 0;
        margin-top: 3px;

        a {
            &:link {
                color: $darkblue;
                text-decoration: none;
            }

            &:visited {
                color: $darkblue;
            }

            &:hover {
                color: $teal;
                transition: 0.3s ease-in-out;
                -webkit-transition: 0.3s ease-in-out;
            }
        }

        &:hover {
            -webkit-box-shadow: inset 0px 0px 6px $grey;
            box-shadow: inset 0px 0px 6px $grey;
            transition: 0.2s ease-in-out;
            -webkit-transition: 0.2s ease-in-out;

            a {
                &:link {
                    color: $teal;
                    transition: 0.2s ease-in-out;
                    -webkit-transition: 0.2s ease-in-out;
                }
            }
        }
    }

    .workExamples {
        float: left;
        width: 80%;
        margin-left: 15px;
    }

    .exampleBubble {
        min-height: 200px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 335px) {

    /* Styles */
    #navigation {
        a#pull {
            margin-top: -60px;
        }
    }

    .bubble .slides h3 {
        text-align: left;
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
    }
}