@charset "UTF-8";
/* SCSS Document */
/* Import Sass mixins, variables, Compass modules, etc. */
/*----- Custom Typefaces -----*/
@font-face {
  font-family: Archive;
  src: url("../fonts/Archive.otf");
}

@font-face {
  font-family: Dense-Regular;
  src: url("../fonts/Dense-Regular.otf");
}

@font-face {
  font-family: SciFly-Sans;
  src: url("../fonts/SciFly-Sans.ttf");
}

/*----- Custom Typefaces -----*/
@font-face {
  font-family: Archive;
  src: url("../fonts/Archive.otf");
}

@font-face {
  font-family: Dense-Regular;
  src: url("../fonts/Dense-Regular.otf");
}

@font-face {
  font-family: SciFly-Sans;
  src: url("../fonts/SciFly-Sans.ttf");
}

/* line 24, ../sass/styles.scss */
* {
  -webkit-font-smoothing: antialised;
}

/* line 28, ../sass/styles.scss */
body {
  width: 100%;
  height: 5000px;
}

/* line 37, ../sass/styles.scss */
#navigation {
  height: 75px;
  width: 100%;
  padding: 10px;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 3px 5px #323232;
  -webkit-box-shadow: 0px 3px 5px #323232;
  -moz-box-shadow: 0px 3px 5px #323232;
}
/* line 49, ../sass/styles.scss */
#navigation img {
  margin-right: 50px;
  width: 200px;
  height: 66px;
}
/* line 57, ../sass/styles.scss */
#navigation a:link {
  font-family: "Archive", sans-serif;
  font-size: 24px;
  color: #174A59;
  padding-right: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 66, ../sass/styles.scss */
#navigation a:visited {
  color: #174A59;
}
/* line 70, ../sass/styles.scss */
#navigation a:hover {
  color: teal;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 76, ../sass/styles.scss */
#navigation a:active {
  text-decoration: none;
}
/* line 80, ../sass/styles.scss */
#navigation a[id="work"] {
  visibility: hidden;
}

/* line 87, ../sass/styles.scss */
ul.content li {
  display: block;
  height: 100%;
  width: 100%;
}

/* line 93, ../sass/styles.scss */
ul.content {
  top: 0;
  margin-top: 97px;
}

/* line 98, ../sass/styles.scss */
a[id="hero"], a[id="about"], a[id="work"], a[id="team"], a[id="blog"], a[id="contact"] {
  visibility: hidden;
  padding: 0 !important;
}

/* line 103, ../sass/styles.scss */
.bubble {
  padding: 20px 50px;
  margin: auto;
  background-color: #FFF;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
/* line 111, ../sass/styles.scss */
.bubble h3 {
  font-family: "Archive", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #174a59;
  margin: 7px 0px;
}

/* line 120, ../sass/styles.scss */
.speechBubble.top:before {
  margin: -40px 20px;
  bottom: auto;
  left: auto;
  border-width: 0 20px 20px;
}

/* line 127, ../sass/styles.scss */
.speechBubble:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #FFF transparent;
  display: block;
  width: 0;
}

/* line 139, ../sass/styles.scss */
#heroBubble {
  width: 600px;
  margin-left: 220px;
}

/* line 144, ../sass/styles.scss */
#aboutBubble {
  float: left;
  margin-left: 20px;
  width: 500px;
}

/* line 150, ../sass/styles.scss */
#workBubble {
  width: 85%;
  padding: 20px 0px 0px !important;
  margin-bottom: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  box-shadow: 1px 1px 7px #323232;
  -webkit-box-shadow: 1px 1px 7px #323232;
  -moz-box-shadow: 1px 1px 7px #323232;
}

/* line 162, ../sass/styles.scss */
#webBubble {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #fdad74;
  width: 270px;
  padding: 10px 50px;
  border-radius: 0px 0px 0px 15px;
  -webkit-border-radius: 0px 0px 0px 15px;
  -moz-border-radius: 0px 0px 0px 15px;
}
/* line 174, ../sass/styles.scss */
#webBubble a:link {
  color: #174a59;
  text-decoration: none;
}
/* line 179, ../sass/styles.scss */
#webBubble a:visited {
  color: #174a59;
}
/* line 183, ../sass/styles.scss */
#webBubble a:hover {
  color: #7db6b0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 191, ../sass/styles.scss */
#webBubble:hover {
  box-shadow: inset 0px 0px 6px #323232;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 197, ../sass/styles.scss */
#webBubble:hover a:link {
  color: #7db6b0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 206, ../sass/styles.scss */
#audioBubble {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #fdad74;
  width: 278px;
  padding: 10px 50px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
/* line 218, ../sass/styles.scss */
#audioBubble a:link {
  color: #174a59;
  text-decoration: none;
}
/* line 223, ../sass/styles.scss */
#audioBubble a:visited {
  color: #174a59;
}
/* line 227, ../sass/styles.scss */
#audioBubble a:hover {
  color: #7db6b0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 235, ../sass/styles.scss */
#audioBubble:hover {
  box-shadow: inset 0px 0px 6px #323232;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 241, ../sass/styles.scss */
#audioBubble:hover a:link {
  color: #7db6b0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 250, ../sass/styles.scss */
#videoBubble {
  cursor: pointer;
  display: inline-block;
  border: 3px solid #fdad74;
  width: 270px;
  padding: 10px 50px;
  border-radius: 0px 0px 15px 0px;
  -webkit-border-radius: 0px 0px 15px 0px;
  -moz-border-radius: 0px 0px 15px 0px;
}
/* line 262, ../sass/styles.scss */
#videoBubble a:link {
  color: #174a59;
  text-decoration: none;
}
/* line 267, ../sass/styles.scss */
#videoBubble a:visited {
  color: #174a59;
}
/* line 271, ../sass/styles.scss */
#videoBubble a:hover {
  color: #7db6b0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
/* line 279, ../sass/styles.scss */
#videoBubble:hover {
  box-shadow: inset 0px 0px 6px #323232;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 285, ../sass/styles.scss */
#videoBubble:hover a:link {
  color: #7db6b0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 294, ../sass/styles.scss */
.workExamples {
  float: left;
  width: 20%;
  margin: 20px;
  font-family: "Dense-Regular", sans-serif;
  color: #FFF;
  font-size: 24px;
  line-height: 24px;
}
/* line 303, ../sass/styles.scss */
.workExamples p {
  margin-left: 10px;
}

/* line 308, ../sass/styles.scss */
.exampleBubble {
  width: 150px;
  height: 110px;
  margin-bottom: 10px;
}

/* line 314, ../sass/styles.scss */
#teamBubble {
  width: 600px;
  margin-left: 20px;
}
/* line 318, ../sass/styles.scss */
#teamBubble h3 {
  color: #fdad74;
}

/* line 324, ../sass/styles.scss */
#blogBubble {
  width: 600px;
  margin-left: 20px;
}

/* line 329, ../sass/styles.scss */
#contactBubble {
  width: 600px;
  margin-left: 20px;
}

/* line 334, ../sass/styles.scss */
#hero {
  margin-top: 80px;
  padding: 80px 0px 20px;
  width: 100%;
  height: 800px;
  background-color: #7db6b0;
}
/* line 341, ../sass/styles.scss */
#hero img {
  display: block;
  margin: 10px auto;
}

/* line 347, ../sass/styles.scss */
#about {
  height: 700px;
  padding: 120px 20px 20px;
  background-color: #e46350;
}
/* line 352, ../sass/styles.scss */
#about #aboutCircle {
  display: block;
  margin: 250px auto 0;
  padding: 25px;
  width: 300px;
  height: 300px;
  border: 7px solid #174a59;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background-color: #FFF;
  box-shadow: 3px 3px 7px #323232;
  -webkit-box-shadow: 3px 3px 7px #323232;
  -moz-box-shadow: 3px 3px 7px #323232;
}
/* line 368, ../sass/styles.scss */
#about h2 {
  font-family: "Dense-Regular", sans-serif;
  font-weight: bold;
  color: #e46350;
  font-size: 96px;
  margin: 20px 0px 0px 30px;
}
/* line 376, ../sass/styles.scss */
#about p {
  font-size: 36px;
  font-weight: normal;
  color: #174a59;
}
/* line 382, ../sass/styles.scss */
#about #jobs {
  position: relative;
}
/* line 389, ../sass/styles.scss */
#about .icons {
  width: 113px;
  height: 113px;
  background: url("../images/icons.png") no-repeat;
}
/* line 395, ../sass/styles.scss */
#about #jobs li {
  margin: 0;
  padding: 0;
  list-style: none;
  top: 0;
}
/* line 402, ../sass/styles.scss */
#about #jobs li, #about #jobs a {
  height: 113px;
  display: block;
}
/* line 407, ../sass/styles.scss */
#about #video {
  cursor: pointer;
  background-position: -112px -112px;
  position: absolute;
  left: -160px;
  top: -280px !important;
}
/* line 415, ../sass/styles.scss */
#about #video:hover {
  background-position: 2px -112px;
  position: absolute;
  left: -160px;
  top: -280px !important;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 424, ../sass/styles.scss */
#about #audio {
  cursor: pointer;
  background-position: -113px 0;
  position: absolute;
  left: -225px;
  top: -110px !important;
}
/* line 432, ../sass/styles.scss */
#about #audio:hover {
  background-position: -2px 0;
  position: absolute;
  left: -225px;
  top: -110px !important;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 441, ../sass/styles.scss */
#about #design {
  cursor: pointer;
  background-position: -345px 0;
  position: absolute;
  top: -375px !important;
  left: 60px;
}
/* line 449, ../sass/styles.scss */
#about #design:hover {
  background-position: -230px 0;
  position: absolute;
  top: -375px !important;
  left: 60px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 458, ../sass/styles.scss */
#about #development {
  cursor: pointer;
  background-position: -459px -110px;
  position: absolute;
  top: -285px !important;
  left: 285px;
}
/* line 466, ../sass/styles.scss */
#about #development:hover {
  background-position: -459px 3px;
  position: absolute;
  top: -285px !important;
  left: 285px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/* line 475, ../sass/styles.scss */
#about #marketing {
  cursor: pointer;
  background-position: -345px -115px;
  position: absolute;
  top: -110px !important;
  left: 355px;
}
/* line 483, ../sass/styles.scss */
#about #marketing:hover {
  background-position: -230px -115px;
  position: absolute;
  top: -110px !important;
  left: 355px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* line 494, ../sass/styles.scss */
#work {
  height: 700px;
  padding: 120px 20px 20px;
  background-color: #fdad74;
}
/* line 499, ../sass/styles.scss */
#work #nav {
  border-top: 1px solid #fdad74;
  background: #fdad74;
  display: block;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
}

/* line 510, ../sass/styles.scss */
#team {
  height: 700px;
  padding: 120px 20px 20px;
  background-color: #894378;
}

/* line 516, ../sass/styles.scss */
#blog {
  height: 700px;
  padding: 120px 20px 20px;
  background-color: #7db6b0;
}

/* line 522, ../sass/styles.scss */
#contact {
  height: 700px;
  padding: 120px 20px 20px;
  background-color: #fdad74;
}

/* line 528, ../sass/styles.scss */
#footer {
  padding: 20px;
  width: 100%;
  height: 200px;
  background-color: #323232;
}
